@font-face {
    font-family: 'Poppins-Regular';
    src: url('../font/Poppins-Regular.ttf');
}
@font-face {
    font-family:'Poppins-Bold' ;
    src: url('../font/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../font/Montserrat-Bold.ttf');
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: #121619;
}
p{
    font-family: 'Montserrat-Regular';
    margin: 0;
}
.container{
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.section-container{
    padding: 0 1.5rem;
}
/* UNIVERSAL STYLE */
h1{
    font-family: 'Montserrat-Bold';
}
h2{
    font-family: 'Montserrat-Bold';
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-family: 'Montserrat-Regular';
    color: rgb(255, 255, 255)
}
.c-green{
    color: rgb(54, 230, 168);
}
.c-white{
    color: white;
}
/* NAVIGATION BAR */
nav{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    color: white;
    background: #121619;
}
nav > div,
nav > div > a{
    display: flex;
    align-items: center;
    margin-right: .5rem;
}
nav div img{
    max-width: 3rem;
    margin-right: .5rem;
}
#main-navbar{
    display: flex;
    margin: 0;
    padding-inline-start: 0;
    padding: .5rem;
} 
#main-navbar > li > a{
    font-family: 'Montserrat-Regular';
    color: rgb(226, 226, 226);
    transition: .2s ease-in-out  ;
}
#main-navbar > li > a:hover{
    color: rgb(255, 255, 255);
    transition: .2s ease-in-out;
}
#main-navbar > li > a:hover > svg{
    transform: rotateX(180deg);
    transition: .2s ease-in-out;
    
}
nav form{
    display: flex;
    border-radius: .5rem;
    background-color: rgb(46, 46, 46);
    padding: .2rem .5rem;
    height: 1.7rem;
    width: calc(40% - 50px);
    overflow: hidden;
}
nav form input{
    border: none;
    outline: none;
    color: rgb(167, 167, 167);
    width: 100%;
}
::placeholder{
    color: white;
}
:-ms-input-placeholder{
    color: white;
}
::-ms-input-placeholder{
    color: white;
}
form button{
    background: none;
    border: none;
}
form button svg{
    background: none;
}

#search{
    background: transparent;
}
.nav-link{
    position: relative;
    padding: 1rem;
}
.nav-link > a{
    display: flex;
}
.nav-link > a > i{
    padding-left: .2rem;
    transition: .2s ease-in-out;
}
.dropdown{
    display: flex;
    opacity: 0;
    transform: translateY(10px);
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 12rem;
    left: 0;
    border-radius: 5px;
    background: #242424;
    transition: .2s ease-in-out;
    padding: 0;
    pointer-events: none;
}
.wallet-dropdown{
    left: -100%;
}
.dropdown-link{
    position: relative;
}
.dropdown-link > a,
.wallet-dropdown > p,
.dropdown > p{
    display: flex;
    padding: .8rem 1rem;
    transition: .2s ease-in-out;
    align-items: center;
    color: rgb(226, 226, 226);
}
.wallet-dropdown > p,
.dropdown > p{
    display: block;
    margin: .5rem;
}
.dropdown-link > a > svg{
    padding-right: .5rem;
}
.dropdown-link > a > img{
    width: 1.2rem;
    padding-right: .5rem;
}
.dropdown-link:not(:last-child){
    border-bottom: 1px solid rgb(61, 61, 61);
    width: 100%;
}

.dropdown-link:hover a{
    transform: translateX(1rem);
    transition: .2s ease-in-out;
}
.nav-link:hover > .dropdown,
.nav-link:focus-within > .dropdown{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: .2s ease-in-out;
}
.hamburger-container{
    background: none;
    padding: .8rem .5rem;
    cursor: pointer;
    border: none;
    display: none;
}
#open-list{
    border: none;
    width:18px;
    height: 3px;
    border-radius: 5px;
    background: rgb(209, 209, 209);
    transition: .5s ease-in-out;
    display: none;
    cursor: pointer;
    position: relative;
}
#open-list::before,
#open-list::after{
    content: '';
    border: none;
    width:18px;
    height: 3px;
    top: 0;
    left: 0;
    border-radius: 5px;
    position: absolute;
    background: rgb(209, 209, 209);
    transition: .5s ease-in-out;
}
#open-list::before{
    transform: translate(0%, -210%);
}
#open-list::after{
    transform: translate(0%, 210%);
}
#open-list.opened{
    background: transparent;
}
#open-list.opened::before{
    transform: rotate(45deg)
}
#open-list.opened::after{
    transform: rotate(-45deg)
}
@media only screen and (max-width: 768px) {
    #main-navbar{
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        display: block;
        position: fixed;
        top:4.5rem;
        height: 70%;
        width: 30%;
        right: -100%;
        margin: 0;
        border-radius: 5px;
        transition: .4s ease-in-out;
        background: #121619;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 2rem;
        
    }

    form{
        width: 40%;
    }
    .hamburger-container{
        display: block;
    }
    #open-list{
        display: flex;
    }
    .nav-link{
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: .5rem;
    }
    .nav-link > a{
        margin-top: 1rem;
    }
    .dropdown{
        display: flex;
        opacity: 0;
        transform: translateY(-10px);
        flex-direction: column;
        position: initial;
        width: 90%;
        left: 0;
        height: 0;
        box-shadow: none;
        background: #121619;
        pointer-events: none;
    }
    .dropdown-link > a{
        padding-left: 0;
        width: max-content;
    }
    .dropdown-link:not(:last-child){
        border-bottom: none;
    }
    
    .dropdown-link:hover::after{
        left: 0;
        background-color: transparent;
    }
    .dropdown-link:hover a{
        transform: translateX(0);
    }
    .nav-link:hover > .dropdown,
    .nav-link:focus-within > .dropdown{
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
        height: max-content;
        transition: .2s ease-in-out;
    }
    .wallet-dropdown > p,
    .dropdown > p{
        margin: .5rem 0;
    }
}
@media only screen and (max-width: 576px) {
    nav.section-container{
        padding: 1rem;
    }
   
    nav div h1{
        font-size: 1rem;
    }
   
    nav > div > img{
        width: 2rem;
    }
    #main-navbar{
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
       
        width: 50%;
        height: 73%;
       
        
    }
    
}
/* OUTSIDE */
.outside{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.781);
    top: 0;
    left: 0;
    opacity: 0 ;
    z-index: -1;
}



/* DETAIL PAGE*/
#detail-page{
    padding-top: 1rem;
}
.tag{
    display: flex;
}
.tag a{
    margin: .5rem .2rem;
    padding: .5rem 1rem;
    font-size: .8rem;
    background: rgb(33, 33, 33);
}
.card{
    background: white;
    border-radius: 10px;
    padding: 1rem;
    height: max-content;
}
.product-card{
    padding: 0;
    padding-bottom: 1rem;
    display: flex;
    height:fit-content;
    background: transparent;
    flex-direction: column;
    justify-content: center;
}
.desc-card{
    border: 1px solid rgb(61, 61, 61);
    background: transparent;
    color: white;
}
.card > .title > h2{
    font-family: 'Montserrat-Bold';
    font-size: 2rem;
    margin: 0;
}
.card > .title > p{
    color: rgb(155, 155, 155);
}
.card > .image > img{
    max-width: 100%;
    display: flex;
    align-items: center;
}
.card .text{
    text-align: left;
    font-family: 'Montserrat-Regular';
}
.product-container{
    display: grid;
    grid-template-columns: .6fr 1fr;
    grid-gap: 1rem;
}
@media only screen and (max-width: 768px){
    .product-container{
        grid-template-columns: 1fr;
    }

}
/* .tag{
    padding: 1rem 0 0 1rem;
}
.tag > a{
    margin: .2rem;
    border: 1.5px solid rgb(240, 52, 102);
    padding: .2rem .5rem;
    border-radius: 1rem;
} */
.creator-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.creator-profile > .creator-first{
    display: flex;
    align-items: center;

}
.creator-desc{
    padding-left: .5rem;
}
.creator-desc > a{
    font-family: 'Montserrat-Bold';
}
.creator-profile > .creator-first > div >img{
    border-radius: 50%;
    width: 3rem;
    height: auto;
}
.creator-socmed{
    display: flex;
}
.creator-socmed > a{
    margin: .2rem .1rem;
    padding: .2rem;
    display: flex;
    border-radius: 50%;
    flex-wrap: nowrap;;
}
.creator-socmed > a >img{
    width: 1.5rem;
}
svg{
    width: 1.2rem;
}
.price-desc{
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.price-desc > div{
    border-radius: 10px;
    border: 1px solid rgb(75, 75, 75);
    margin: .5rem .3rem;
    height: max-content;
}
.price-desc > div:last-child{
    width:45%;;
    height: max-content;
}
@media only screen and (max-width: 1270px) {
    .price-desc > div:last-child{
        width:100%;;
        height: max-content;
    }
    .price-desc > div{
        width: 100%;
    }
}
.price-desc > div > div{
    padding: 1rem;
}
.price-desc > div > div:not(:last-child){
    border-bottom: 1px solid rgb(102, 102, 102);
}
.sale-ends{
    color: rgb(216, 216, 216);
}
.prod-price{
    display: flex;
    align-items: center;
}
.prod-price > img{
    margin-right: .2rem;
    width: 2rem;
}
.prod-price > p{
    font-size: 2rem;
    font-family: 'Montserrat-Regular';
}
.prod-price > span{
    font-family: 'Montserrat-Regular';
    color: rgb(204, 204, 204);
    margin-left: .5rem;
}

.min-bid > button{
    background: rgb(26, 199, 138);
    border: none;
    padding: .5rem 2rem;
    color: white;
    margin-top: .5rem;
    border-radius: 8px;
    cursor: pointer;
}
.min-bid > div{
    margin: .2rem 0;
}
#desc-nft-box > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#desc-nft-box > ul > li:not(:last-child) {
    border-bottom: 1px solid rgb(28, 25, 25); 
 }
.accordion-box{
    cursor: pointer;
}
.accordion-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordion-detail{
    padding-top: 1rem;
    font-family: 'Montserrat-Regular';
    flex-direction: column;
    display: none;
}
.accordion-box > p{
    font-family: 'Montserrat-Bold';
}
.accordion-detail > div{
    display: flex;
    justify-content: space-between;
}
.acc-detail-class,
.acc-detail-offer{
    display: flex;
}
.show-accordion{
    display: flex;
}
.hide-accordion{
    display: none !important;
}
/* ATTRIBUTES */
.attribute-card{
    border: none;
    padding-bottom: 0;
}

.attributes-container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center !important;
    margin: .3rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(43, 231, 181);
}
.attributes-detail{
    flex-direction: row;
    flex-wrap: wrap;
}
.about-product-detail,
.attributes-detail{
    display: flex;
}
/* OFFERS  */
.offer-desc{
    width: 100%;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    margin-top: 1rem;
    overflow-x: auto;

}
table{
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
  }
::-webkit-scrollbar{
    width: 4px;
    height: 7px;
}
::-webkit-scrollbar-track {
    background: #181717; 
}

::-webkit-scrollbar-thumb {
    background: rgb(58, 60, 59); 
    border-radius: 30px;
    margin-bottom: .5rem;
    
}

table td, 
table th {
    padding: 1.5rem 8px;
    color: white;
}
table tr:nth-child(even){
    background: rgb(20, 38, 33);
}
table tr:nth-child(odd){
    background: rgb(27, 63, 51);
}
table tr:first-child{
    background: none;
}
table tr:first-child th{
    color: rgb(48, 204, 162);
}
  .detail-2-container{
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
  }
  @media only screen and (max-width: 768px){
      .detail-2-container{
          grid-template-columns: 1fr;
      }
  }
  /* SIMILAR COLLECTIONS*/
  #similar-page,
  #activity-acc-col-page{
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }
    .similar-title{
        color: white;
    }
    .sim-image-container > img{
        max-width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .sim-image-container{
        max-width: 100%;
    }
    .sim-image-container-product{
        height: 19rem;
        overflow:hidden;
    }
    .similar-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    
    .similar-item{
        border-radius: 10px;
        transition: .2s ease-in-out;
        color: white;
        background: rgb(39, 39, 39);
    }
    .sim-description,
    .sim-item-price-title{
      padding: .5rem 1rem;
      display: flex;
      align-items: center;
  }
  
  .sim-item-price-title{
      padding-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .sim-item-price-title > div{
      display: flex;
      align-items: center;
  }
  .sim-item-price-title > div > img{
      width: 2rem;
      margin-right: .2rem;
  }
  .sim-item-price-title > strong{
      color: rgb(223, 223, 223);
  }
  .sim-description > div:not(:last-child){
      margin-right: .6rem;
  }
  .sim-description > div > p{
      font-size: .8rem;
  }
  .sim-description > div > strong{
      font-size: .8rem;
      color: rgb(189, 189, 189);
  }
  .sim-description > div > img{
      border-radius: 50%;
      max-width: 2rem;
  }
  .similar-item:hover{
      transform: translateY(-1%);
      transition: .2s ease-in-out;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  strong{
      font-family: 'Montserrat-Bold';
  }
  .hide-filter{
      grid-template-columns: max-content 1fr;
  }
  @media only screen and (max-width: 1024px){
      .similar-content{
          grid-template-columns: 1fr 1fr 1fr;
      }
  }
  @media only screen and (max-width: 768px) {
      .similar-content{
          grid-template-columns: 1fr 1fr ; 
        }
    }
    @media only screen and (max-width: 576px) {
        .similar-content{
          grid-template-columns: 1fr ; 
      }
  }

  /* FOOTER */
  footer{
      background: rgb(25, 26, 26);
      display: flex;
      color: white;
      flex-direction: column;
      justify-content: space-between;
      min-height: 30rem;
  }
  footer strong{
    color: rgb(34, 197, 140);
}

  footer > div > div > ul > li{
      margin-bottom: 1rem;
  }
  footer a{
      color: white;
  }
  footer > div{
      padding: 4rem 4rem 2rem 4rem;
  }
  .foot-top{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
  .foot-top > div{
      display: flex;
      flex-direction: column;
  }

  .foot-top > div > ul{
      padding: 0;
  }
  .foot-top > div > p{
      margin-top: .8rem;
  }
  footer form input[type="text"],
  footer form input[type="submit"]{
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.342);
      background: none;
      padding: 1rem;
      color: white;
      border-radius: 6px;
      margin: 5px;
    }
    footer ::placeholder{
        color: rgb(255, 255, 255);
    }
  footer :-ms-input-placeholder{
      color: white;
  }
footer form input[type='submit']{
    border: 1.5px solid rgb(26, 167, 113);
    color: white;
    cursor: pointer;
    min-width: 7rem;
    transition: .2s ease-in-out;
}
footer form input[type='submit']:hover{
    background: rgb(26, 167, 113);
    cursor: pointer;
    transition: .2s ease-in-out;
    border: none;
    min-width: 7rem;
}
.foot-bottom{
    position: relative;
    padding: 4rem 1rem 2rem 1rem;
}
.foot-bottom > div{
    display: flex;
    justify-content: space-between;
}
.foot-bottom > div > p{
    font-size: .8rem;
    color: rgb(242, 242, 242);
}
.foot-bottom::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(20, 220, 127);
    position: absolute;
    top: 0;
    left: 0;
}
@media only screen and (max-width: 768px) {
    .foot-top{
        grid-template-columns: 1fr;
        padding: 4rem 0 2rem 1rem;
    }
    .foot-bottom > div{
        flex-direction: column;
        align-items: center;
    }
    .foot-bottom{
        padding: 2rem 0 2rem 0;
        text-align: center;
    }
}

/* ACCOUNT COLLECTION */
#account-collection,
#account-creator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 34rem;
    border-bottom: 1px solid rgb(223, 223, 223);
    text-align: center;
}
#account-collection{
    border-bottom: none;
    background: #121619; 
    color: white;
}
#account-creator{
    min-height: 30rem;
}
#account-collection > div:first-child,
#account-creator > div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    text-align: center;
}
#offers-openner-acc{
    cursor: auto;
}
.account-title{
    margin-bottom: .5rem;
}
.owner{
    color: rgb(44, 255, 181);
}
.account-title > h2{
    margin-bottom: 0;
}
.account-details > div:not(:last-child){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: start;
}
.account-details > div:not(:last-child) > div{
    padding: .5rem 2rem;
    margin: .3rem;
    border-radius: 10px;
    background: rgb(38, 38, 38);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.account-details-item > p{
    font-size: .8rem;
    margin-bottom: .3rem;
}
.account-details-item > div > strong{
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.d-flex > i{
    margin-right: .2rem;
}
.custom-detail-account{
    display: flex;
    justify-content: center;
    margin: 1rem 0;

}
.account-coll-socmed ul{
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;   
}
.account-coll-socmed > ul > li{
    border-radius: 10px;
    transition: .2s ease-in-out;
}
.account-coll-socmed > ul > li:hover{
    transform: translateY(-5%);
    transition: .2s ease-in-out;
}

.account-coll-socmed > ul > li > a >img{
    width: 1.5rem;
    padding: .2rem;
    color: white;
}
.account-profile{
    margin-top: 10rem;
    z-index: 0;
    display: flex;
    align-items: center;
    padding: .5rem;
    background: #121619;
    border-radius: 50%;
}
@media only screen and (max-width: 576px){
    .account-details > div:not(:last-child) > div{
        width: 60%;
        text-align: center;
    }
    .d-flex{
        justify-content: center;
    }
}

.custom-detail-account > p{
    max-width: 70%;
}
@media only screen and (max-width: 576px) {
    .custom-detail-account > p{
        max-width: 80%;
    }
}
.items-activity{
    display: flex;
    margin-top:3rem;
}
.items-act-cont{
    display: flex;
    padding-bottom: 1rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin: 0 .5rem;
    
}
.verified-account{
    position: absolute;
    bottom: 0;
    right: 5%;
    background: #121619;
    padding: .4rem;
    border-radius: 50%;
}

.items-activity > div{
    outline: none;
    border: none;
}
.items-activity > div > img{
    width: 2rem;
    margin-right: .3rem;
}

.active::after{
    content: "";
    position: absolute ;
    width: 100% ;
    height: 3px ;
    bottom: -2px ;
    left: 0 ;
    background-color: rgb(42, 206, 143) ;
}
.account-collection-content{
    display: grid;
    grid-template-columns: max-content 1fr;
}
.account-store{
    display: grid;
    grid-template-columns: 1fr;
}
.filter-page,
.filter-page-2{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: auto;
    background: rgb(29, 29, 29);
}
.filter-page > div > ul{
    padding: 0;
}
.filter-page > div > ul > .accordion-container > .accordion-box, .filter-page-2 > div > ul > .accordion-container > .accordion-box {
    padding: 1rem;
    border-bottom: none
}
.filter-page > div > ul > .accordion-container > .accordion-box,
.filter-page-2 > div > ul > .accordion-container > .accordion-box{
    padding: 1rem;
}
.filter-page > div > ul > .accordion-container > .accordion-detail{
    background-color: #222222;
    padding: 1rem;
    padding-left: .2rem;
    color: white;
}
.filter-page-2 > div > ul > .accordion-container >.accordion-box{
    border-bottom: none;
}
#acc-detail-filter{
    display: flex;
}


#filter-openner-acc > p, 
#filter-openner-2-acc > p {
    color: rgb(53, 214, 139);
}

.checkbox-acc{
    display: flex;
}

@media only screen and (max-width: 576px) {
    .filter-page,
    .filter-page-2{
        height: 100vh;
        overflow-y:visible
    }  
    .filter-page-2{
        height: max-content;
    }
    .account-collection-content{
        grid-template-columns: 1fr;
        height: max-content;
    }
}

.overall-accordion > svg{
    margin-left: 5rem;
}
.switch-2{
    display: none;
    border-right: 1px solid rgb(228, 228, 228);
}
.fa-chevron-left{
    margin-left: 1rem;
}
/* ACTIVITY */
#activity-acc-col-page{
    overflow-x: auto;
}
#activity-acc-col-page > div >div> ul > li > div{
    display: flex;
}

#et-acc-detail > button,
.checkbox-acc > button{
    font-family: 'Montserrat-regular';
    padding: .5rem 1rem;
    border: none;
    margin: .3rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2e2e2e;
    width: 100%;
    color: white;
    transition: .2s ease-in-out;
    text-align: start;
}
#et-acc-detail > button:hover,
.checkbox-acc > button:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transition: .2s ease-in-out;
}

.filter-active{
    background-color: rgb(51, 145, 109) !important;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.activity-offers-table  a:hover{
    text-decoration:underline rgb(181, 181, 181);

}
.activity-offers-table td > div,
.activity-offers-table td > a > div
{
    display: flex;
    align-items: center;
}
.activity-offers-table td > div > img{
    width: 1.5rem;
}
.activity-offers-table td > a > div > img{
    width: 2rem;
    margin-right: .5rem;
    height: auto;
}

.show-filter-cat{
    display: block;
}
.hide-filter-cat{
    display: none;
}

/* PRODUCT PAGE CONFIRM MAKE AN OFFER */
.make-offer-to-item-page{
    display: none;
    margin-bottom: 5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 50%;
    transform: translate(-50%,-50%);
    background: rgb(46, 46, 46);
    border-radius: 10px;
    overflow-y: auto;
    color: rgb(216, 216, 216);
    flex-direction: column;
    z-index: 6;
}
@media only screen and (max-width: 768px) {
    .make-offer-to-item-page{
        width: 85%;
        height: 90%;
    }
}
.make-offer-to-item-page > div,
.make-offer-to-item-page > form{
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
}
.items-title-buy > h2{
    margin: 1rem 0;

}
.items-title-buy{
    border-bottom: 1px solid rgb(90, 90, 90);
}
.items-detail{
    display: flex;
    align-items: space-between;
    width: 90%;
}
.items-detail > div{
    margin-bottom: 1rem;
}
.make-offer-desc{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.make-offer-desc > div,
.make-offer-desc > div > label{
    display: flex;
    align-items: center;
}
.make-offer-desc > div{
    display: flex;
    width: 100%;
}
.make-offer-desc > div > input{
    font-family: 'Montserrat-Regular';
    margin-left: .5rem;
    outline: none;
    border: 1px solid rgb(118, 118, 118);
    border-radius:8px;
    padding: .5rem 1rem;
    width: 100%;
}
.inner-items-detail{
    display: flex;
    align-items: center;
}
.price-img{
    display: flex;
    align-items: center;
}
.inner-items-detail > div>span{
    font-family: 'Montserrat-Regular';
}
.wallet-balance > div{
    display: flex;
    align-items: center;
}
.confirm-box{
    display: flex;
    flex-direction: column;
}
.confirm-box > div{
    display: flex;
    font-family: 'Montserrat-Regular';
    align-items: flex-start;
    margin-bottom: .5rem;
}

.submit-outer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.submit-outer > button[class="cancel-inner"]{
    margin-right: .3rem;
}
.submit-inner,
.cancel-inner{
    background: rgb(0, 196, 137);
    padding: .5rem 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.cancel-inner{
    background: none;
    color: rgb(34, 213, 135);
    border: 1px solid rgb(25, 230, 141);
}
.open-modal{
    display: flex !important;
}

.offers-time-openner{
    display: flex;
    align-items: center;
    border: 1px solid rgb(112, 112, 112);
    padding: .5rem 1rem;
    cursor: pointer;
}
.time-container{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: none;
    border: 1px solid rgb(111, 111, 111);
}
.time-container > button{
    padding: .5rem 1rem;
    width: 100%;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat-Regular';
    text-align: start;
}
.time-container > button:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
input[type="time"]{
    width: 100%;
    outline: none;
    border: 1px solid rgb(223, 223, 223);
    padding: .5rem ;
    font-family: 'Montserrat-Regular';
}

  input[type=time]::-webkit-datetime-edit-ampm-field {
    background-color: #00d583;
    border-radius: 15%;
    color: white;
    padding: 19px 13px;
  }

